<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ParticipationSystem</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" >
    <link href="../static/css/home.css" rel="stylesheet">


</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/cat(idCat=all)}">participationSystem4a</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active" id="homeParticipation"><a href="#">Home</a></li>
                <li><a th:href="@{/createSuggestion}">Crear Sugerencia</a></li>
                <li><a href="#">Crear Categoría</a></li>
                <li><a href="#">About us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logOut}"><span class="glyphicon glyphicon-log-in"></span>Salir</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <strong>Categorias</strong>
            <p><a th:href="@{/cat(idCat=all)}">Todas</a></p>
            <p th:each="categoria : ${session.listaCategorias}">
            <a th:text="${categoria.nombre}" th:href="@{/cat(idCat=${categoria.getId()})}" >categoria</a><!-- th:id="categoria=${categoria.getId()" -->
            </p>

        </div>
        <div class="col-sm-8 text-left">
            <div class="page-header">
                <h2>Listado de sugerencias</h2>
            </div>
            <table id="sugerencias" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Contenido</th>
                    <th>Votos</th>
                    <th>Fecha Creación</th>
                    <th>+</th>
                    <th>-</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sugerencia : ${session.listaSugerencias}">
                    <td> <a th:text="${sugerencia.nombre}" th:href="@{/sug(idSug=${sugerencia.getId()})}">Titulo</a></td>
                    <td th:text="${sugerencia.contenido}">Contenido</td>
                    <td th:text="${sugerencia.votos}">Votos</td>
                    <td th:text="${#dates.format(sugerencia.fechaCreacion, 'dd-MM-yyyy')}"></td>
                    <td>
                        <form action="#" th:action="@{/vote+}"  method="post">
                            <input name="idSug" type="hidden" th:value="${sugerencia.id}"/>
                            <button class="btn btn-success" th:disabled="${sugerencia.checkCiudadano(session.citizen)}" type="submit" >Voto +</button> <!-- th:id="votopositivo?id=${sugerencia.id}" -->
                        </form></td>
                    <td>
                        <form action="#" th:action="@{/vote-}"  method="post">
                            <input name="idSug" type="hidden" th:value="${sugerencia.id}"/>
                            <button class="btn btn-danger" th:disabled="${sugerencia.checkCiudadano(session.citizen)}" type="submit">Voto -</button>
                        </form></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p id="emailUser" th:text="${session.citizen.email}"></p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>ParticipantsSystem4a - ASW 2017 - Universidad de Oviedo</p>
  <script>  $(document).ready(function() {
    $('#sugerencias').DataTable({
        "iDisplayLength": 6});
    } );</script>
</footer>

</body>
</html>